
.white {
    color: #ffffff;
}

.grayscale {
    filter: grayscale(1);
}


.full-width {
    width: 100%;
}

.center-text {
    text-align: center;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.layout-row {
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    border-style: none;
    border-width: 0;
}

.nomouseevents {
    pointer-events: none;
}