




body {
    background-color: var(--backgroundColor);
}

.section-title {
    display: flex;
    position: relative;
    margin: auto 0;
    padding: 1rem 0 0 1rem;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--textColor);
}

.homepage-section {
    position: relative;
    display: flex;
    width: auto;
    margin: 1rem;
    padding: 0;
    
    border-radius: 0.5em;
    background: linear-gradient(90deg, transparent, var(--sectionColor));

    flex-direction: column;
}

.thumbnailrow {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    margin: 1em;
    /* bottom padding is to make space for the scroll wheel*/
    padding: 0 0 1rem 0;
    
    flex-flow: row;
    flex-grow: 2;
    gap: 1em;
    
    background-color: transparent;
    border-radius: 0.5em;

    overflow-x: scroll;
    overflow-y: hidden;
}


.content-thumbnail {
    position: relative;
    display: flex;
    flex-shrink: 0;
    height: 90px;
    width: 192px;

    
    border-radius: 0.5rem;
    /* background image is set from the thumbnail spawner */
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}







