:root {
    --hoverTransition: all 0.4s ease;
}

.homepage-section {
    transition: var(--hoverTransition);
}
.homepage-secstion:hover {
    background-color: var(--hoverColor);
}




#sidebar {
    transition: var(--hoverTransition);
}
#sidebar:hover {
    background-color: var(--hoverColor);
}








