
.homepage-section {
    transition: var(--hoverTransition);
}
.homepage-section:hover {
    background-color: var(--hoverColor);
}




#sidebar {
    transition: var(--hoverTransition);
}
#sidebar:hover {
    background-color: var(--hoverColor);
}


.content-thumbnail {
    transition: var(--hoverTransition);
}
.content-thumbnail:hover {
    box-shadow: inset 0 0 0.5em 0.125em var(--textColor);
}








