
#season-banner-row {
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 92%;
    justify-content: center;
}

#season-banner-box {
    position: relative;
    display: flex;
    flex-grow: 2;
    width: auto;
    flex-direction: column;
}

#episode-banner {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-grow: 0;
    width: auto;
    height: fit-content;
}


#season-box {
    display: block;
    position: relative;

    width: 92%;
    height: 2rem;


}



#season-dropdown {
    position: relative;
    display: flex;

    margin: 0 auto;
    padding: 0 1rem;
    
    height: 2rem;
    width: auto; 

    border: 0;
    outline: 0;

    border-radius: 0.5rem;

    color: var(--textColor);
    background-color: var(--scrollColor);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}



.season-option {
    border-radius: 0.5rem;

    color: var(--textColor);
    background-color: var(--scrollColor);

    border: 0;
    outline: 0;
}
.season-option:hover {
    background-color: var(--scrollColorActive);
}





