
body {
    margin: 0;
    height: 100vh;
}





/* User Manager */

#chosen-user-icon-box {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    align-self: flex-end;
    
    margin: auto 0 auto auto;

    right: 0.5rem;

    transition: var(--hoverTransition);
}

#user-icons-box {
    position: relative;
    display: grid;
    justify-content: center;
    gap: 0.25rem;
    
    grid-template-columns: repeat(4, 3rem);
    grid-auto-rows: 3rem;

    height: auto;
    width: 100%;

    margin: 0;
    padding: 0;

    transition: var(--hoverTransition);
}



#userIcon-chosen {
    position: relative;

    height: 3rem;
    width: 3rem;

    margin: 0;

    font-size: 1.5rem;

    border-radius: 1.8rem;
    border-color: var(--scrollColor);
    border-width: 0.15rem;
    border-style: solid;
}
#userIcon-chosen:hover {
    border-color: var(--scrollColorActive);
}

#add-user-button {
    height: 2rem;
    width: 2rem;
    font-size: 2em;
    border-radius: 1rem;
    background-color: var(--scrollColor);
}
#add-user-button:hover {
    background-color: var(--scrollColorActive);
}



.userIcon {
    display: flex;
    
    margin: auto;
    height: 2.5rem;
    width: 2.5rem;

    border-radius: 1.25rem;
    background-color: aliceblue;

    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.25em;

    user-select: none;
    transition: var(--hoverTransition);
}
.userIcon:hover {
    height: 3rem;
    width: 3rem;
    border-radius:1.5rem;
    font-size: 1.5em;
}


#create-user-box {
    color: white;
    transition: var(--hoverTransition);
}

.input-div {
    position: relative;
    display: flex;

    height: 2.5rem;
    width: 70%;
    
    padding: 0;
    margin: 1rem auto 0 auto;
    
    border: none;
    border-radius: 1.25rem;
    overflow: hidden;
}
#create-user-button {
    position: relative;
    display: flex;

    height: 2rem;
    width: 5rem;
    margin: 1rem auto 0 auto;
    padding: 0 1rem;
    border-radius: 1rem;

    color: var(--textColor);
    background-color: var(--scrollColor);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    text-align: center;
    align-items: center;
    justify-content: center;
}
#create-user-button:hover {
    background-color: var(--scrollColorActive);
}

#username-input {
    position: relative;
    display: flex;
    
    height: 100%;
    width: 100%;
    
    padding: 0 1rem;
    margin: 0;

    outline: none;
    border: none;
    color: var(--textColor);
    background-color: #FFFFFF70;
    
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#usercolor-input-div {
    position: absolute;
    display: flex;
    z-index: 1;

    height: 2rem;
    width: 2rem;
    top: 50%;
    right: 0.25rem;
    transform: translate(0, -50%);

    margin: 0;
    padding: 0;

    overflow: hidden;

    border-radius: 1rem;
}

#usercolor-input {
    position: absolute;
    display: flex;
    flex-grow: 2;

    height: 4rem;
    width: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;
    padding: 0;

    border: none;
}

#showcase-usericon-letter {
    display: flex;
    margin: auto;
    z-index: 22;
    
    height: 1.5rem;
    line-height: normal;
    vertical-align: center;

    user-select: none;
    pointer-events: none;

    color: var(--textColor);
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}



.create-user-title {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}



















