
body {
    margin: 0;
    height: 100vh;
}




/* Glboal Page Fixing */
#main-content-box {
    position: relative;
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 100%;
}
#rightside {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: auto;
    
    overflow-x: scroll;
    overflow-y: hidden;
}

/* User Manager */

#user-manager {
    position: relative;
    display: flex;
    flex-direction: column;

    top: 0;
    left: 0;

    width: 8rem;
    height: 100%;

    z-index: 10;

    background: linear-gradient(90deg, transparent, var(--sectionColor));
}



#userIcon-chosen {
    position: relative;
    margin: 1rem auto;

    border-radius: 2.4rem;
    border-color: var(--backgroundColor);
    border-width: 0.2rem;
    border-style: solid;
}


.userIcon {
    display: flex;
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: aliceblue;

    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2em;
}



#create-user-box {
    color: white;
}

#username-input-div {
    position: relative;
    display: flex;

    height: 3rem;
    width: 80%;
    
    padding: 0;
    margin: 1rem auto;
    
    border: none;
    border-radius: 1.5rem;
    overflow: hidden;
}

#username-input {
    position: relative;
    display: flex;
    
    height: 100%;
    width: 100%;
    
    padding: 0 1.5rem;
    margin: 0;

    outline: none;
    border: none;
    background-color: #FFFFFF70;
    
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#usercolor-input-div {
    position: absolute;
    display: flex;
    z-index: 1;

    height: 2.5rem;
    width: 2.5rem;
    top: 50%;
    right: 0.3rem;
    transform: translate(0, -50%);

    margin: 0;
    padding: 0;

    overflow: hidden;

    border-radius: 1.25rem;
}

#usercolor-input {
    position: absolute;
    display: flex;
    flex-grow: 2;

    height: 4rem;
    width: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;
    padding: 0;

    border: none;
}

#showcase-usericon-letter {
    display: block;
    margin: auto;
    z-index: 22;
    
    height: 0;
    line-height: 0;

    user-select: none;
    pointer-events: none;

    color: var(--backgroundColor);
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}


.create-user-title {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}



















