
body {
    margin: 0;
    height: 100vh;
}




/* Glboal Page Fixing */
#main-content-box {
    position: relative;
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 100%;
}
#rightside {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: auto;
    
    overflow-x: scroll;
    overflow-y: hidden;
}

/* User Manager */

#user-manager {
    position: relative;
    display: flex;
    flex-direction: column;

    top: 0;
    left: 0;

    width: 8rem;
    height: 100%;

    z-index: 10;

    background: linear-gradient(90deg, transparent, var(--sectionColor));
}



#userIcon-chosen {
    position: relative;
    margin: 1rem auto;

    border-color: black;
    border-width: 0.2rem;
    border-style: solid;
}


.userIcon {
    display: flex;
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    border-radius: 2.4rem;
    background-color: aliceblue;

    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2em;
}


























