
:root {
    /*--- Essential ---*/
    --textColor: #f8fcff;
    --sectionColor: #1f354d;
    --backgroundColor: #031324;
    --lowOpacity: #00aeff11;
    /*--- Hover ---*/
    --textHover: #9fc8f3;
    --hoverColor: #0d488686;
    /*--- Scroll ---*/
    --scrollColor: #23548a;
    --scrollColorActive: #2c6fb8;
}


