
:root {
    --textColor: #e1edf8;
    --textHover: #9fc8f3;
    --sectionColor: #1f354d;
    --backgroundColor: #031324;
    /*--- Hover  ---*/
    --hoverColor: #0d488686;
    /*--- Scroll  ---*/
    --scrollColor: #23548a;
    --scrollColorActive: #2c6fb8;
}


